# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# production build
dist
build

# environment files
.env
.env.*

# logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode
.idea

# git
.git
.gitignore

# docker
Dockerfile
docker-compose.yml

# tests
coverage

# temporary files
tmp
temp